body{
    margin:50px;
}


.main-container {
    width:400px;
    height: 550px;
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid grey;
    border-radius: 5px;
    flex-wrap: wrap;
    .counter-wrapper{
        display: flex;
        flex-direction: column;
        font-size: 18px;
    }
    .side-bar{
        display: flex;
        flex-direction: column;
        
        .side-img {
            border: 1px solid grey;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            margin: 5px;
            img{
                cursor: pointer;
                height: 100px;
                width: 100px;
            }
          
          }
      }

    .selected-img {
      

        margin: 5px;
        img{
            margin: 0;
            padding: 0;
            height: 435px;
            width: 255px;
            border: 2px solid grey;
            border-radius: 4px;
            width: 256px;
            height: 435px;
            cursor: pointer;
        }
    }     
  
  }
  
 
  


  
  